.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0 100px;
    margin-bottom: 50px;
}
@media (max-width: 586px) {
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}